{% extends '::base.html.twig' %}
{% block body %}
<h3>Registration Form</h3>
{% if form is defined%}
    {{ form(form) }}
{% endif %}
{% if name is defined%}
    Thank you {{ name }}
    Synced {{ synced }}
{% endif %}
{% endblock %}